body {
  background-color:#edf5e5; 
  }

h1, h2 {
  margin-block: 0.67em;
  font-size: 2em;
  color:#472f37

}

p {
  color:#5C3C47 
}
 
   .classe-testo {
     text-align: center; /* o left, right, justify, ecc. */
   }
.parallax {
  /* The image used */
  background-image: url("file:///C:/Users/Leysan/Desktop/Talentform%20Esercizi/2305/DALL%C2%B7E%202025-02-04%2017.18.07%20-%20A%20Mediterranean%20summer-themed%20scene%20featuring%20a%20brunette%20woman%20with%20long%20brown%20hair%20seated%20backwards,%20her%20face%20completely%20hidden,%20eating%20spaghetti%20at%20.webp");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-wrap: nowrap;       /* obbliga le card a stare sulla stessa riga */
  overflow-x: auto;        /* abilita lo scroll orizzontale se servono più di 100% */
  gap: 1rem;               /* spazio tra le card */
  padding: 1rem;
  background-color: #f1f1f1;
  justify-content: center;
}

.card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
  width: 300px;
  padding: 30px;
  text-align: center;
  transition: transform 0.2s;
  flex-shrink: 0;          /* impedisce che la card si rimpicciolisca */
}

.card:hover {
  transform: translateY(-5px);
}

.card2 { 
 
   
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    text-decoration: none;
    transition: transform 0.2s;
    border-radius: 50px;
background: #9ddfff;
box-shadow:  27px 27px 54px #3f5966,
             -27px -27px 54px #fbffff;
  }
.card2:hover {
  transform: translateY(-5px);
}

footer {
  justify-content: center;

}

  .card-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: transparent;
    object-fit: cover;
    margin-bottom: 10px;
  }
.cardcontainer2 {
  display:flex;
  justify-content:center ;
 gap: 1rem;               /* spazio tra le card */
  padding: 1rem;

}

.buttons {
  display:flex;
  justify-content:center;
  text-decoration: none;
  border-radius: 50px;
  text-align: center;
  text-transform: capitalize;
}
@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}


