body {
  background-color:#edf5e5; 
  }

h1, h2 {
  margin-block: 0.67em;
  font-size: 2em;
  color:#472f37

}

p {
  color:#5C3C47 
}
 
   .classe-testo {
     text-align: center; /* o left, right, justify, ecc. */
   }
.parallax {
  /* The image used */
  background-image: url("file:///C:/Users/Leysan/Desktop/Talentform%20Esercizi/2305/DALL%C2%B7E%202025-02-04%2017.18.07%20-%20A%20Mediterranean%20summer-themed%20scene%20featuring%20a%20brunette%20woman%20with%20long%20brown%20hair%20seated%20backwards,%20her%20face%20completely%20hidden,%20eating%20spaghetti%20at%20.webp");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  background-color: #f1f1f1;
  margin: 10px 0;
  padding: 1rem;
  gap: 1rem;
}

.card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 300px;
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.2s;
  flex-shrink: 0;
}

.card:hover {
  transform: translateY(-5px);
}


